<hr><hr><hr><hr><hr>
<div class="container padding">
  <h1 class="text-center">Группы</h1>
  <div class="box padding">

    <% @groups.each do |group| %>
    <div class="box1">
      <h2><%= link_to group.title, group_path(group) %></h2>
      <p><%= group.text %></p>
      <br>
      <a href="#" class="btn btn-danger">Читать далее</a>
    </div>

    <div class=" box2 oneImg">
      <% group.images.each do |image| %>
        <%= image_tag(image.file_url) %>
      <% end %>
    </div>
    <% end %>
  </div> 
</div>
