// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.padding {
	padding-bottom: 2em;
}

.box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (auto-fill, 200px);
    grid-row-gap: 40px;
}

.box1 {
	display: grid;
	grid-template-rows: 50px 50px 50px;
	justify-content: left;
}

.box2 {
	display: grid;
	justify-content: right;
}

.oneImg img {	
	width: 400px;
	height: 200px;
}


