// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*all*/

* {
	box-sizing: border-box;
	&:before, &:after {
		box-sizing: border-box;
	}
}
html, body {
	height: 100%;
}

body {
	background:url(http://bootstraptema.ru/images/bg/bg-4.png);
	position: relative;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: "Poppins", sans-serif;
	word-wrap: break-word;
	overflow-x: hidden;
	opacity: 1;
}

p {
    font-size: 14px;
}

.jumbotron {
	padding: 1em;
	margin: 0 auto;
	margin-top: 20px;
}

.padding_top {
	padding-top: 90px;
}

.padding {
	padding-bottom: 2em;
}

.alert {
	margin: 0 auto;
	padding-top: 2em;
}

.alert hr {
	border-top: 2px solid #666;
	width: 95%;
	margin-top: 0.3em;
	margin-bottom: 1em;
}

.oneImg img:not(:first-child) {
	display: none;
}

/*navbar*/

nav {
	background-image: url("../assets/footer.jpg");
}

.navbar-brand {
	background-image: url("../assets/logo.jpg");
	background-size: cover;
	width: 150px;
	height: 60px;
}

.navbar-brand img {
	background-size: cover;
    background-position: center;
	height: 100%;
	width: 100%;
}

.navbar-nav li {
	padding-right: 20px;
}

.nav-link {
	font-size: 1.7em !important;
	font-weight: bold;
}

/*button*/

.btn {
	padding: 15px 45px;
	font-size: 1em !important;
	text-align: center;
	align-content: center;
}

 .btn.collapsed:after {
    float: right;
  }

/*carousel*/

.carousel-inner {
	height: 500px;
}

.carousel-inner img {
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-80%);
	text-shadow: 1px 1px 10px #000;
}

@media (max-width: 450px) {
	.carousel-caption display-2 {
		font-size: 3em;
	}
}

@media (min-width: 1000px) {
	.carousel-inner img {
		width: 100%;
	}
}

/*symbol*/

.fa-code, .fa-bold, .fa-css3 {
	font-size: 4em;
	margin: 1em;
}

.fa-code {color: #e54d26}

.fa-bold {color: #563d7c}

.fa-css3 {color: #2163af}


/*news*/

.news-box {
	padding-top: 25px;
	background-color: #FFF8DC;
}

.news-content {
	border-right: 1px solid #dadada;
	p {
		font-size: 14px;
		min-height: 150px;
		
	}
	h2 {
		font-size: 34px;
		font-weight: 800;
	}
}

.news-img {
	padding-top: 25px;
	background-size: cover;
    overflow: hidden;
}

.news-img img {
	background-size: cover;
    background-position: center;
	width: 100%;
    height: 80%;
}


/*close_box_with_img*/

#fixed {
	height: 400px;
	border-top: 4px solid #f0f0f0;
	border-bottom: 4px solid #f0f0f0;
	background: url("../assets/1.jpg") no-repeat center center fixed;
	background-blend-mode: multiply;
	background-color: lightblue;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#gifsBtn {
	margin-bottom: 20px;
}

.gifs img {
	background-size: cover;
	background-position: center;
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
}

/*best_price*/

.prod_box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (350px);
    grid-gap: 20px; 
}

.prod_info {
	height: 400px;
    perspective: 1000px;
}

.rotate {
	position: relative;
	transition: 0.5s;
	transform-style: preserve-3d;
}

.prod_info:hover .rotate {
	transform: rotateY(180deg);
}

.text {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
	border: 4px double #ccc;
	width: 225px;
	height: 350px;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.prod_img {
	background-size: cover;
    overflow: hidden;
}

.prod_img img {
	vertical-align: middle;
	border: 4px double #ccc;
	width: 225px;
	height: 350px;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

@media (max-width: 750px) {
	.display-4 {
		font-size: 1.5em;
	}
}

/*footer*/

.social a {
	font-size: 4em;
	padding: 20px;
}

.fa-twitter {color: #00acde}
.fa-instagram {color: #517fa4}
.fa-youtube {color: #bb0000}
.fa-facebook {color: #3b5998}
.fa-google {color: #dd4b39}

.fa-twitter:hover, .fa-instagram:hover, .fa-youtube:hover, .fa-facebook:hover, .fa-google:hover {
	color: #ccc;
}

footer {
	background-color: #3f3f3f;
	padding-top: 50px;
	border-top: 4px solid silver;
	color: white;
	height: 165px;
}

