
<div class="container padding">
  <h1 class="text-center padding_top">Продукты Группы</h1>
  <div class="group_box padding">

    <% @group.products.each do |product| %>
    <div class="group_info">
      <h2><%= link_to product.name, group_product_path(@group, product)%></h2>
      <p><%= product.pr_description %></p>
      <h3 class="card-title pricing-card-title">Цена: <%= product.price %></h3>
    </div>

    <div class="group_img oneImg">
      <% product.images.each do |image| %>
        <%= image_tag(image.file_url) %>
      <% end %>
    </div>
    <% end %>
  </div> 
</div>
  
  
  


